<div class="container">
	<header class="blog-header py-3">
		<div class="row flex-nowrap justify-content-between align-items-center">
			<div class="col-4 pt-1"></div>
			<div class="col-4 text-center">
				<a class="blog-header-logo text-dark" href="#">KEN NG REDDIT</a>
			</div>
			<div class="col-4 d-flex justify-content-end align-items-center"></div>
		</div>
	</header>
</div>

<main class="container">

	<div class="float-right">
		<p><a href="" class="btn btn-info"
		      ng-click="$ctrl.setTab(2)" ng-show="$ctrl.isSet(1)">NEW POST</a></p>
	</div>

	<div class="float-right">
		<p><a href="" class="btn btn-info"
		      ng-click="$ctrl.setTab(1)" ng-show="$ctrl.isSet(2)">VIEW POSTS</a></p>
	</div>

	<ul class="nav nav-pills">
		<li role="presentation" class="active">
			<input type="search" class="form-control input-sm search-form" placeholder="Filter">
		</li>
		<div class="form-inline">
			<label for="sort">Sort by</label>
			<select name="" id="sort" class="form-control">
				<option value="">Some text</option>
				<option value="">Some text</option>
			</select>
		</div>
	</ul>

	<div class="row">
		<div class="col-md-8">
			<form ng-show="$ctrl.isSet(2)" ng-submit="$ctrl.addPost()">
				<div>
					<label for="title">Title</label>
					<input ng-model="$ctrl.posts.title" type="text" id="title" class="form-control" required>
				</div>
				<div>
					<label for="body">Body</label>
					<textarea ng-model="$ctrl.posts.body" name="" id="body" cols="30" rows="10" class="form-control"
					          required>
					</textarea>
				</div>
				<div>
					<label for="author">Author</label>
					<input ng-model="$ctrl.posts.author" type="text" id="author" class="form-control" required>
				</div>
				<div>
					<label for="image_url">Image URL</label>
					<input ng-model="$ctrl.posts.image_url" type="text" id="image_url" class="form-control" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">
						CREATE POST
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row" ng-show="$ctrl.isSet(1)">
		<div class="col-md-12">
			<div class="card" ng-repeat="post in $ctrl.postsArr | orderBy: '-votes'">
				<div class="blog-post card-header">
					<img ng-src="{{ post.image_url }}"
					     alt="image"
					     class="media"
					     style="width: 20%">
					<h2 class="blog-post-title">{{ post.title }}</h2>
					<p class="blog-post-meta">
						{{ post.created_at | date }} by <a href="#">{{ post.author }}</a> <br/>
						<small>Votes: {{ post.votes }}</small>
					</p>

					<p>{{ post.body }}</p>

					<i class="glyphicon glyphicon-comment"></i>
					<a>
						<ng-pluralize
								count="post.comments.length"
								when="{
									'0': 'No comments',
									'1': '1 comment',
									'other': '{} comments'
								}"></ng-pluralize>
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
